* {
	margin: 0;
}

section.features {
	background: #131313;
	color: white;
}

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
}

.features-list {
	display: flex;
	padding: 100px 0;
	justify-content: space-between;
}

.features-item {
	width: 164px;
}

